.sidebar {
    width: 20%;
    height: 100% !important;
    border-radius: 2rem;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.profileImage img{
    height: 8rem;
    border-radius: 6rem;
    margin-top: 20%;

}
.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-name {
    color: var(--color-white);
    font: 1.5rem;
    font-weight: 400;
    margin: 0.8rem 0 0.5rem 0;
}
.contact-container {
    width: 50%;
    background-color: #091322;
    color: var(--color-white);
    height: 15%;
    margin: auto auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.contact-container a {
    color: var(--color-white);
}

.links-container {
    background-color: var(--orange-biz);
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
.links {
    margin-top: 8rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    height: 60%;
}
.link {
    margin-left: 15%;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    color: aliceblue;
    cursor: pointer;
}

.link h3{
    margin-bottom: 2rem;
    font-size: large;
    font-weight: 300;
}
