.container-maincontent {
    width: 80%;
    background: linear-gradient(to bottom right, white 0%, right #e6e4ff 70%);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: 1rem 8rem 1rem 4rem;
}
.sub-container {
    margin: 0.5rem 0;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem; 
}

.section-one {
    display: flex;
    justify-content: space-between;
    height: 40%;
    gap: 2rem;
    width: 100%;
}

.section-two {
    display: flex;
    gap: 2rem;
    height: 26vh;
}

.collumn-one-1 {
    display: flex;
    gap: 3rem;

}
.collumn-two-1 {
    display: flex;
    flex-direction: column;
    height: 115%;
    width: 100%;
}


.collumn-one-2 {

}
.collumn-two-2 {

}

.invoice-container {
    height: 60%;
    width: 35rem;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: var(--color-white);
    height: 140%;
    transition: 0.4ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}
.invoice-container:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}